---
---

<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<meta
			name='viewport'
			content='width=device-width, initial-scale=1'
		/>
		<link
			rel='icon'
			type='image/svg'
			sizes='any'
			href='https://raw.githubusercontent.com/MaDrCloudDev/projectsImages/master/MaDrLogo.svg'
		/>
		<title>weHadLeftTheGround | MaDr</title>
	</head>
	<body>
		<div id='container'>
			<slot />
		</div>
	</body>
</html>
